:root{
    --colour-green : rgb(12, 131, 31);
    --colour-black : rgb(0,0,0);
    --colour-white : rgb(255 255 255);
    --colour-grey : rgb(130,130,130);
    --colour-lightest-green : rgb(247,255,249);
    --fw-900 : 900;
    --fw-700 : 700;
    --fw-600 : 600;
    --fw-400 : 400;
    --fw-500 : 500;
    --font-family: 'Lato', sans-serif;
}